<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Gadget Shop</title>
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <div class="cart">
        <h2>🛒 Mon Panier {{cart.length}}</h2>
        <ul>
          <li>
            Nom du gadget - 10€
            <button class="remove-btn" v-on:click="removeFromCart()">❌</button>
          </li>
        </ul>
        <p>Votre panier est vide.</p>
      </div>

      <div class="gadget-container">
        <div class="gadget" v-for="gadget in gadgets" :key="gadget.id">
          <img v-bind:src="gadget.image" />
          <h2>{{gadget.nom}}</h2>
          <p>{{gadget.prix}}€</p>
          <p v-if="gadget.inStock">✅ En stock</p>
          <p v-else>❌ Out of Stock</p>
          <button v-if="gadget.inStock" v-on:click="addtoCart()">
            Ajouter au panier
          </button>
          <button v-else="gadget.inStock" :disabled="!inStock">
            Ajouter au panier
          </button>
        </div>
      </div>
    </div>
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
